
#signup-company div.right-part {
  background: white;
}

.registration-page #signup-company div.right-part,
.registration-page {
  background: #f7fafc;
}

.registration-page {
  padding-top: 2em;
}

.registration-page div.part-1 {
  padding: 20px 89px 0;
  font-family: Poppins, sans-serif;
}

.registration-page .separator-row {
  margin: 2rem 0 0 0;
  padding: 0 80px;
}

.registration-page .title-profile {
  font-weight: 600;
  font-size: 26px;
  color: #2D3D4D;
  display: inline-block;
  margin: 0 auto;
}

.registration-page .separator {
  border-top: 0.5px solid #ECF0F5;
  box-sizing: border-box;
  border-radius: 3px;
}

.registration-document_block {
  padding: 17px;
  height: auto;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  color: #2D3D4C;
  border: 1px solid #ECEEF4;
  border-radius: 4px;
  text-align: center;
  height: 50px;
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px dashed rgba(205, 218, 227, 0.46);
  justify-content: center;
  transition: box-shadow 0.4s ease-out;
  cursor: pointer;
  margin: 0;
}

#registration-document[type="file"] {
  height: 0 !important;
  overflow: hidden;
  width: 0 !important;
  padding: 0 !important;
}

#registration-document[type="file"] + label {
  margin-bottom: 0;
}

#signup-company div.right-part div.user-role {
  padding: 30px 30px 0 30px;
}

#signup-company div.right-part div.user-role a.role-switch {
  padding: 11px 17px;
  background: #E6F3FC;
  border-radius: 3px;
  font-family: Poppins-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #0195FF;
  border: none;
}
#signup-company div.right-part .title {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  color: #2D3D4D;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-family: Poppins, sans-serif;
}

#certified-profession-picker li {
  list-style-type: none;
}

#certified-profession-picker ul {
  padding-left: 15px;
}

#signup-company div.right-part div.insurance-group input[type=checkbox] {
  display: none;
}

#signup-company div.right-part div.form-group span.insurance-label {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #BEC9D2;
  padding-left: 5px;
  margin: auto 0;
  font-weight: 500;
}

#signup-company  div.right-part div.gender-menu {
  margin: auto 0 auto auto;
}
#signup-company  div.right-part div.gender-menu button.gender-item {
  padding: 10px 21px;
  background: rgba(234, 235, 241, 0.36);
  border-radius: 4px;
  border: none;
  margin: auto auto auto 8px;
}

#signup-company  div.right-part div.gender-menu  button.gender-item svg {
  fill: #D9E1E9;
  margin: auto 0 auto auto;
}

#signup-company  div.right-part div.gender-menu  button.gender-item span{
  font-family: Poppins, sans-serif;
  font-size: 13px;
  align-items: center;
  color: #9dcdfa;
  margin: auto auto auto 7px;
}


#signup-company  div.right-part input[type=checkbox]:checked + div.gender-menu  button.gender-item.yes,
#signup-company  div.right-part input[type=checkbox]:not(:checked) + div.gender-menu  button.gender-item.no{
  background: #E6F3FC;
}
#signup-company  div.right-part input[type=checkbox]:checked + div.gender-menu  button.gender-item.yes svg,
#signup-company  div.right-part input[type=checkbox]:not(:checked) + div.gender-menu  button.gender-item.no svg{
  fill: #3996FD;
}
#signup-company  div.right-part input[type=checkbox]:checked + div.gender-menu  button.gender-item.yes span,
#signup-company  div.right-part input[type=checkbox]:not(:checked) + div.gender-menu  button.gender-item.no span{
  color: #2D3D4D;
}

#signup-company div.right-part div.form-part {
  padding: 0 15%;
  user-select: none;
}

#signup-company div.right-part div.form-part span {
  font-weight: 500;
  font-size: 12px;
  color: #BEC9D2;
  padding-left: 5px;
}

#signup-company div.right-part form div.form-group {
  margin-bottom: 10px;
}

#signup-company div.right-part form div.bottom-group {
  color: #F25151;
  align-items: center;
}

#signup-company div.right-part form div.delete-group {
  text-align: right;
  font-size: 12px;
  line-height: 52px;
}

#signup-company div.right-part form div.delete-group svg {
  margin-right: 10px;
}

#signup-company div.right-part form input {
  padding: 18px;
  height: auto;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  color: #2D3D4C;
  border: 1px solid #ECEEF4;
  border-radius: 4px;
}

#signup-company div.right-part form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A3AEBA;
  opacity: 1; /* Firefox */
}
#signup-company div.right-part form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A3AEBA;
}

#signup-company div.right-part form input::-ms-input-placeholder { /* Microsoft Edge */
  color: #A3AEBA;
}


#signup-company div.right-part form div.apartment-control,
#signup-company div.right-part form div.city-control {
  margin-left: 10px;
}

#signup-company div.right-part form div.registration-control {
  margin-bottom: 10px;
}

#signup-company div.right-part form div.file-upload-group {
  margin-bottom: 20px;
}

#signup-company div.right-part form div.insurance-group {
  margin-bottom: 40px;
}

#signup-company div.right-part form div.form-group input.company-logo-block {
  display: none
}

#signup-company div.right-part form div.form-group label.custom-file-upload {
  height: 190px;
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px dashed rgba(205, 218, 227, 0.46);
  justify-content: center;
  transition: box-shadow 0.4s ease-out;
  cursor: pointer;
  margin: 0;
}

#signup-company div.right-part form div.form-group label.custom-file-upload:hover {
  -webkit-box-shadow: -5px 6px 12px -2px rgba(181,181,181,1);
  -moz-box-shadow: -5px 6px 12px -2px rgba(181,181,181,1);
  box-shadow: -5px 6px 12px -2px rgba(181,181,181,1);
}
#signup-company div.right-part form div.form-group label.custom-file-upload img {
  margin: auto auto 5px auto;
  max-height: 150px;
  max-width: 150px;
}
#signup-company div.right-part form div.form-group label.custom-file-upload span.file-loader-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #0195FF;
  margin: 5px auto auto auto;
}

#signup-company div.right-part form div.form-group label.custom-file-upload div.logo-sample-holder {
  width: 150px;
  height: 150px;
  margin: auto;
  background: transparent;
}

#signup-company div.right-part form div.form-group.agree-rules-block {
  margin: 20px 0;
  font-size: 12px;
}
#signup-company div.right-part form div.form-group.agree-rules-block .custom-control-input:checked~.custom-control-label::before{
  background: #0195FF;
  border-color: #0195FF;
}
#signup-company div.right-part form div.form-group.agree-rules-block label {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  color: #A3AEBA;
  line-height: 1.5rem;
}
#signup-company div.right-part form div.form-group.agree-rules-block label a {
  text-decoration: none;
}
#signup-company div.right-part form button.button-accept {
  background: #0195FF;
  border-radius: 3px;
  width: 300px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1.5rem 0;
  display: block;
}


#signup-company div.right-part form div.form-group label.error,
#signup-company div.right-part form div.form-group div.error {
  color: #e3564b;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}

.registration-page #signup-company div.right-part form div.delete-group {
  display: none;
}

@media (max-width: 1400px) {
  .registration-page div.part-1 {
    padding: 0 2rem;
  }
}

@media (max-width: 1200px) {
  #signup-company div.right-part div.form-part {
    padding: 0 0.5rem;
  }

  #registrationForm {
    margin: 0;
  }

  #registrationForm > div {
    padding: 0;
  }
}

@media (max-width: 768px) {

  #signup-company div.right-part form button.button-accept  {
    margin-bottom: 0.5rem
  }
  #signup-company div.right-part form div.form-group.agree-rules-block {
    margin: 0.75rem 0;
  }
  #signup-company div.right-part div.have-account-block {
    margin-top: 1rem;
  }
}

@media (max-width: 568px) {
  #signup-company div.right-part .title {
    margin: 0.5rem 0;
  }
  #signup-company div.right-part div.user-role {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
  #signup-company div.right-part  div.gender-menu {
    padding: 0;
  }
}
